html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.fondo {
  display: flex;
  height: 90vh;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  font-size: 1.3rem;
  color: #61043d;

}

.navbar-toggler {
  color: #61043d;

}

.img {
  display: flex;


}

.img_logo {
  width: 800px;
}

.footer {
  display: flex;
  background-color: #000000;
  width: 100%;
  height: 100%;
  align-items: center;
}